#arbitpro_wrapper .show.menu-dropdown > .menu-sub-dropdown, .menu-sub-dropdown.menu.show, .menu-sub-dropdown.show[data-popper-placement] {
    display: flex;
    animation: none;
}
@media (max-width: 576px) {
    .aside-menu .menu > .menu-item > .menu-link {
        width: 140px;
        height: initial;
    }
}
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    top: 50%;
    left: 0;
    height: 25px;
    width: 25px;
    line-height: 1.5;
    display: inline;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    font-size: 1.5rem;
    border: 0;
    box-shadow: none;
    text-align: center;
    text-indent: 0 !important;
    content: "\F283";
    color: #3699FF;
    font-family: "bootstrap-icons";
    background-color: transparent;
    border-radius: 0.475rem;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th.dtr-control:before {
    content: "\F27D";
    background-color: transparent;
    color: #3699FF;
}
/*responsive table */
.dtr-details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
th .th-in-responsive {
    display: none;
}
.dtr-title .th-in-thead {
    display: none;
}
.dtr-title {
    margin-right: 30px;
}
.arbitpro-menu-icon .cross{
    display: none;
}
.arbitpro-menu-icon.active .stripes {
    display: none;
}
.arbitpro-menu-icon.active .cross{
    display: block;
}